<header class="border-b bg-indigo-600 border-zinc-800 p-4">
    <nav class="max-w-5xl mx-auto text-white flex gap-6 text-sm">
      <a routerLink="/" class="hover:bg-indigo-500">Home</a>
      <a routerLink="/projects" class="hover:bg-indigo-500">Projects</a>
      <a routerLink="/resume" class="hover:text-indigo-400">Resume</a>
      <a routerLink="/contact" class="hover:text-indigo-400">Contact</a>
    </nav>
  </header>
  
  <main class="max-w-5xl mx-auto p-6">
    <router-outlet></router-outlet>
  </main>
  