
<div class="fixed top-0 left-0 w-full bg-indigo-100 border-b shadow-md z-50">
    <div class="max-w-5xl mx-auto flex justify-between items-center px-3 py-2">

      <span class="text-indigo-800 text-lg ">Anthony Winchell</span>
  

      <div class="flex items-center gap-4">
        <a href="https://github.com/anthony-winchell" target="_blank" class="text-gray-600 hover:text-indigo-800 transition">
          GitHub
        </a>
        <a href="https://www.linkedin.com/in/anthony-winchell-5925492a2" target="_blank" class="text-gray-600 hover:text-indigo-800 transition">
          LinkedIn
        </a>
        <a href="mailto:anthony.winchell.56@gmail.com" class="text-gray-600 hover:text-indigo-800 transition">
          Email
        </a>
      </div>
    </div>
  </div>
  

  