<section class="mt-15">
  <!-- Header -->
  <h1 class="text-4xl font-semibold mb-4">Anthony Winchell</h1>

  <p class="text-gray-500 max-w-xl mb-10">
    Computer science student currently focused on building full-stack applications. 
    Currently, I really enjoy using Angular, with Spring Boot as my back-end. 

  </p>

  <!-- Technologies -->
  <h3 class="text-2xl font-semibold mb-4">Technologies</h3>
  <div class="flex flex-wrap gap-2 mb-12">
    <span class="bg-indigo-100 text-indigo-800 px-3 py-1 rounded-full font-medium">Angular</span>
    <span class="bg-indigo-100 text-indigo-800 px-3 py-1 rounded-full font-medium"
      >Spring Boot</span
    >
    <span class="bg-indigo-100 text-indigo-800 px-3 py-1 rounded-full font-medium">TypeScript</span>
    <span class="bg-indigo-100 text-indigo-800 px-3 py-1 rounded-full font-medium"
      >Tailwind CSS</span
    >
  </div>

  <!-- Projects -->
  <h3 class="text-2xl font-semibold mb-4">My recent work</h3>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-12">
    <div class="bg-white border rounded-lg shadow p-6">
      <h3 class="text-lg font-semibold mb-2">Project 1</h3>
      <p class="text-slate-600 mb-4">Coming soon</p>
      <a routerLink="/projects" class="text-indigo-600 hover:text-indigo-500 transition">View</a>
    </div>

    <div class="bg-white border rounded-lg shadow p-6">
      <h3 class="text-lg font-semibold mb-2">Project 2</h3>
      <p class="text-slate-600 mb-4">Coming soon</p>
      <a routerLink="/projects" class="text-indigo-600 hover:text-indigo-500 transition">View</a>
    </div>

    <div class="bg-white border rounded-lg shadow p-6">
      <h3 class="text-lg font-semibold mb-2">Project 3</h3>
      <p class="text-slate-600 mb-4">Coming soon</p>
      <a routerLink="/projects" class="text-indigo-600 hover:text-indigo-500 transition">View</a>
    </div>
  </div>

  <a
    routerLink="/projects"
    class="inline-block text-white px-6 py-3 rounded-xl bg-indigo-600 hover:bg-indigo-500 transition"
  >
    View Projects
  </a>
</section>
